{% trans_default_domain 'FOSUserBundle' %}
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ asset('usersPictures/' ~ app.user.imageFile) }}" style="border-radius: 100%" alt="dropdown image" class="img-responsive"  width="105" height="105">
            <p style="color: black;text-align: center;" >{{ user.username }}</p>
        </div>
        <div class="col-md-4">
            <h5>User Profile</h5>

            <p style="color: black">{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p style="color: black">{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            <p style="color: black">Last login: {{ user.lastLogin|date }}</p>
            <p style="color:black">Role :
                {% for r in user.roles %} }}
                    {{ r }}
                {% endfor %}</p>

            <div class="btn-wrapper">
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-element btn-normal btn-red">Edit </a>
            </div>
        </div>
    </div>
</div>
<br><br>








