{% extends  'layout.html.twig' %}
{% block content %}

    <div class="breadcrumb-style-7">
        <div class="breadcrumb-inner">
            <h1 class="page-title">Event Details</h1>

        </div>
    </div>





    <div class="product-details-tab">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="slider-tabfor">
                        <div class="single-item">
                            <img src="{{ asset('') }}{{ vich_uploader_asset(events, 'imageFile') }}" alt="thumb">

                        </div>

                    </div>

                </div>
                <div class="col-lg-7">
                    <div class="content-part">
                        <h1>{{ events.name }}<br> </h1>
                        <span class="specifications">Theme : {{  events.theme.nom}}</span>
                        <span class="specifications"> Location : {{ events.location }}     </span>
                        <span class="specifications">Start Date : {{events.start | date}}</span>
                        <span class="specifications">End Date : {{events.end  | date}} </span>
                        <br>
                        <span class="specifications">Description :  </span>
                        <p class="description">{{ events.description }}</p>
                        <div class="map">
                            <iframe src="https://maps.google.com/maps?q={{ events.location }}&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                        </div>
                        {% if check and  check[0].confirmation == 1 %}

                            participer

                        {% elseif check and check[0].confirmation == 0 %}

                            <input type="text" id="codeConfirmation" placeholder="saisir le code"/>


                        {% else  %}
                            bouton
                        {% endif %}
                        <div class="codeConfirmation" >
                            <a id="download" href="{{ path('downloadPdf' , {'id':events.id }) }}"
                               style="color:red" class="btn btn-element btn-lg btn-disabled disabled"><i
                                        class="fa fa-check-square-o"></i><strong></strong> download</a>
                        </div>
                            <div>
                                <span style="color:#0b0b0b"><i class="fa fa-comments"></i>comments  {{events.Commenternumber}}</span>
                                <span style="color:#0b0b0b" ><i class="fa fa-check-square-o"></i> Participer {{  events.Participernumber}}</span>
                                <span style="color:#0b0b0b"><i class="fa fa-star"></i> Intersted {{  events.Interstednumber}}</span>


                            </div>
                        </div>


                    </div>

                </div>

            </div>


            <div class="blog-single-content">
                <div class="container">
                    <div class="row">
                        <!-- comment area start -->
                        <div class="comment-area">
                            <ul class="comment-list">
                                {% for comm in comm %}
                                    <li class="parent">
                                        <div class="single-comment-wrap">
                                            <div class="thumb">
                                                <img src="{{ asset('') }}{{ vich_uploader_asset(events, 'imageFile') }}" alt="thumb" height="50" width="50">
                                            </div>
                                            <div class="content">
                                                <h4 class="title">{{ comm.user }}</h4>
                                                <div class="comment-content">
                                                    <p>{{ comm.content }}</p>
                                                </div>
                                            </div>
                                        </div>

                                    </li>

                                {% endfor %}
                            </ul>
                            {% if app.user %}
                                <form method="post" id="formcomment" class="comment-form margin-top-50">
                                    <div class="form-group">
                                        <input type="text" name="comment-content" class="form-control"
                                               placeholder="write comments.....">
                                    </div>
                                </form>
                                {% else %}
                                    <form  class="comment-form margin-top-50">
                                        <div class="form-group">
                                            <input  href="{{ path('fos_user_security_login') }}" type="text" name="comment-content"  class="form-control"
                                                   placeholder="write comments.....">
                                        </div>
                                    </form>
                            {% endif %}
                        </div>
                        <!-- comment area end -->
                    </div></div></div>                </div>
    </div>
    </div>
    </div> </div>
    </div>
    <script type="text/javascript"
            src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#codeConfirmation').keyup(function (){
                if ( $('#codeConfirmation').val() != '')
                {
                    $.ajax({
                        url: "{{path('envoyerConfirmation')}}",
                        type: "POST",
                        cache: false,
                        data: {
                            "code" : $('#codeConfirmation').val()
                        },
                        success  : function (data) {
                            var id = data['id'];

                            if ( id =='id' ) {
                                $('#codeConfirmation').removeClass('btn btn-block').addClass('btn btn-success');
                                $('#download').removeClass('btn btn-element btn-lg btn-disabled disabled').addClass('btn-payment');

                            }
                            else {
                                $('#codeConfirmation').removeClass('btn btn-block').addClass('btn-disabled disabled');

                            }
                        }
                    });
                }
            });});
    </script>

{% endblock %}